<% if resource.errors.any? %>
  <% resource.errors.full_messages.each do |message| %>
    <li class="alert alert-danger alert-signup"><%= message %></li>
  <% end %>
</ul>
</div>
<% elsif flash[:alert] %>
  <li class="alert alert-danger alert-signin"><%= flash[:alert] %></li>
<% end %>
