<% if resource.errors.any? %>
  <% resource.errors.full_messages.each do |message| %>
    <li class="sign-up-errors"><%= message %></li>
  <% end %>
</ul>
</div>
<% elsif flash[:alert] %>
  <li class="sign-in-errors"><%= flash[:alert] %></li>
<% end %>
