@import "bootstrap/scss/bootstrap";
@import "home";
@import "navbar";
@import "user";
@import "image";
@import "comment";

html,
body,
div,
span,
h1,
h2,
h3,
p,
a,
img,
form,
label,
embed,
figure,
figcaption,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
}

li {
  list-style-type: none;
}

#user_username,
#user_password,
#user_password_confirmation {
  display: block;
}

.alert-image-comment {
  width: 40%;
}

.alert-signin,
.alert-signup {
  width: 20%;
  margin-left: 20px;
}
