// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.user-log-in,
.user-sign-up,
.input-groups,
.sign-up-header,
.sign-in-header {
  margin: 20px;
}

.sign-up-errors,
.sign-in-errors {
  margin-left: 20px;
}

.sign-up-button {
  margin-top: 5px;
}
