<div class="card show-card" style="width: 18rem;">
  <img class="card-img-top" src='<%= url_for(@image.photo) %>' alt="user image">
  <div class="card-body">
    <h5 class="card-title"><%= @image.title %></h5>
    <p class="card-text"><%= @image.body %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Rating</li>
  </div>
</div>
